@import "../node_modules/reveal.js/css/theme/template/mixins";
@import "../node_modules/reveal.js/css/theme/template/settings";

@import url("../revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css");

// drogue colors
$drogueYellow: #ffda00;
$drogueRed: #ef1920;
$drogueBlue: #0072d8;
$drogueGreen: #8cc73f;

$drogueYellowDarker: #e5c10e;
$drogueRedDarker: #cc1b28;
$drogueBlueDarker: #046dba;

$drogueGray: #5d5e61;

// variables

.reveal section,
.reveal section.yellow {
  --drogue-accent-color: #{$drogueYellow};
  --drogue-background-color: #{$drogueYellowDarker};
}

.reveal section.red {
  --drogue-accent-color: #{$drogueRed};
  --drogue-background-color: #{$drogueRedDarker};
}

.reveal section.blue {
  --drogue-accent-color: #{$drogueBlue};
  --drogue-background-color: #{$drogueBlueDarker};
}

// theme settings

$backgroundColor: #eeeeee;
$mainColor: #5d5e61;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;

// default selection color
$selectionBackgroundColor: $drogueYellow;

// controls are the same as links
$linkColor: $drogueGray;

$headerBarHeight: 200px;

$heading1Size: 2.7em;
$heading2Size: 1.7em;

$titleBackground: $drogueYellowDarker;

.reveal .slide-background.title,
.reveal .slide-background.full {
  background: $drogueGreen url("../assets/drogueiot_rodney_blink.gif") no-repeat;
  background-position-x: -10rem;
  background-position-y: bottom;
  background-size: 40%;
}

.reveal section.title {
  padding-left: 10rem;
  padding-top: 10rem;
}

.reveal section.full {
  padding-left: 10rem;
  padding-top: 10rem;
}

.reveal .full h2 {
  font-size: $heading1Size;
}

// slide content of full slide is like h2 on the title slide
.reveal .full .slide-content {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);

  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);

  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);

  font-size: var(--r-heading2-size);

  word-wrap: break-word;
}

.reveal .title h2,
.reveal .full h2 {
  background: none;
  padding: 0;
}

.reveal .slide-content a {
  text-decoration: var(--r-link-color-hover) underline;
}

.reveal section,
.reveal section.yellow {
  --r-selection-background-color: #{$drogueYellow};
  --r-link-color-hover: #{$drogueYellowDarker};
}
.reveal section.red {
  --r-selection-background-color: #{$drogueRed};
  --r-link-color-hover: #{$drogueRedDarker};
}
.reveal section.blue {
  --r-selection-background-color: #{$drogueBlue};
  --r-link-color-hover: #{$drogueBlueDarker};
}
.reveal section h2 {
  --r-selection-background-color: #{$drogueGray};
}
.reveal section.title h2 {
  // reset the h2 of the title slide
  --r-selection-background-color: #{$selectionBackgroundColor};
}

.reveal h2 {
  background: var(--drogue-background-color);
  padding: .33em;
}

.reveal .slide-content {
  padding-top: 1rem;
}

.reveal .slide-content:first-child {
  padding-top: 0;
}

.reveal .slides section {
  text-align: start;
}

// quote

.reveal .attribution {
  text-align: end;
  padding-right: 5rem;
  font-size: smaller;
}
.reveal .attribution cite {
  font-style: italic;
}

// code

.reveal .listingblock .title {
  margin-left: 50px;
  font-style: italic;
  font-size: smaller;
}

// image

.reveal .imageblock + .title {
  margin-top: -30px;
  font-style: italic;
  font-size: smaller;
}

// callouts

.reveal .colist table {
  margin: .5em 0 0;
  font-size: 66%;
}

// helpers

.reveal section.smaller div.slide-content {
  font-size: 80%;
}

.reveal section.hcenter {
  text-align: center;
}

.reveal section div.slide-content > div.center {
  text-align: center;
}

.reveal section div.slide-content > div.gutter {
  padding: 5rem;
}

.reveal section div.slide-content > div.p-x {
  padding-left: 5rem;
  padding-right: 5rem;
}

.reveal section div.slide-content > div.p-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.reveal section .stretch.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Theme template ------------------------------
@import "../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal pre code {
  max-height: unset;
  padding: 1rem 0;
}

.reveal .admonitionblock > table {
  border: none;
  background: #ccc;
}

.reveal blockquote {
  margin-left: 4rem;
  border: none;
  border-left: 10px solid;
  border-color: var(--drogue-accent-color);
  padding: 2rem 4rem;
  background: #ccc;
  box-shadow: none;
}

.reveal .listingblock {
  margin-left: 0;
  border: none;
  border-left: 10px solid;
  border-color: var(--drogue-accent-color);
  background: #272822; // align with hjs theme
}

.reveal .listingblock code {
  height: auto;
  margin: 1rem;
}

.reveal .listingblock pre {
  margin: 0;
  box-shadow: none;
}

.reveal .footnotes {
  margin-top: unset;
  position: fixed;
  // align bottom to bottom of slide
  top: var(--slide-height);
  transform: translateY(-100%);
}
